<div>
    <a mat-raised-button color="primary" routerLink="/create">Create Product</a>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around center" #container id="container">
    <div class="list-item" *ngFor="let product of products | async" fxFlex="25%"
        fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" [routerLink]="['/products', product.id]">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img matCardImage src="Card wide image source"> -->
            <mat-card-content>
                Text description:
                {{product | json}}
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button [routerLink]="[product.id]">Action1</button>

            </mat-card-actions>
            <mat-card-footer>
                <a mat-icon-button (click)="onLike(product)">
                    <mat-icon class="mat-18">like</mat-icon>
                </a>
            </mat-card-footer>
        </mat-card>
    </div>
</div>